{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{entity.name}}</h1>
    <table class="record_properties">
        <tbody>
            {% if entity.path %}
            <tr>
                <th>Image</th>
                <td>
                    <img width="50px" src="{{basepath}}{{entity.webPath}}"/>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Alignment</th>
                <td>{{ entity.alignment }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Script</th>
                <td>{{ entity.script }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ entity.health }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
