{% extends 'ThoniorMasterBundle::base.html.twig' %}

{% block body -%}
    <h1>Item list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                {% if entity.path %}
                    <img width="50px" src="{{basepath}}{{entity.webPath}}"/>
                {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                        {% if entity.type == 'armor'%}
                            <a class="btn btn-primary" href="{{ path('armor_show', { 'id': entity.id }) }}">show</a>              
                            <a class="btn btn-primary" href="{{ path('armor_edit', { 'id': entity.id }) }}">edit</a>
                        {% endif %}
                        {% if entity.type == 'weapon'%}
                            <a class="btn btn-primary" href="{{ path('weapon_show', { 'id': entity.id }) }}">show</a>              
                            <a class="btn btn-primary" href="{{ path('weapon_edit', { 'id': entity.id }) }}">edit</a>
                        {% endif %}
                        {% if entity.type == 'item'%}
                            <a class="btn btn-primary" href="{{ path('item_show', { 'id': entity.id }) }}">show</a>              
                            <a class="btn btn-primary" href="{{ path('item_edit', { 'id': entity.id }) }}">edit</a>
                        {% endif %}
                </td>
                <td>{{ entity.rating|rating }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
            <a href="{{ path('item_creation') }}">
                Create a new entry
            </a>
       
    {% endblock %}
