{% extends 'ThoniorMasterBundle::base.html.twig' %}

{% block body -%}
    <h1>Item</h1>
    <div id="votes">
        {{ form_start(rate_form, {'attr':{'id' : 'rateform'} }) }}
        {{ form_errors(rate_form) }}
        {{ form_end(rate_form) }}
    </div>
    (based on {{entity.rates}} votes)
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{{ entity.extra }}</td>
            </tr>
            <tr>
                <th>Shopprice</th>
                <td>{{ entity.shopPrice }}</td>
            </tr>
            <tr>
                <th>Sellprice</th>
                <td>{{ entity.sellPrice }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    <ul>
                        {% for tag in entity.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('item') }}">
            Back to the list
        </a>
            <br/>
        <a href="{{ path('item_edit', { 'id': entity.id }) }}">
            Edit
        </a>
   {{ form(delete_form) }}

<script>
    $(document).ready(function(){
        $('.rating-well div').click(function(){
            var value = $(this).data('value');
            $.post("{{path('item_rate')}}", {'id': "{{entity.id}}",'stars':value})
                    .done(function(data){
                        setCookie('voted_item_{{entity.id}}',value,1000);
                    });
        });
    });
</script>
    
{% endblock %}
