{% extends 'ThoniorMasterBundle::base.html.twig' %}

{% block body -%}
    <h1>Campaign</h1>
    <div id="votes">
        {{ form_start(rate_form, {'attr':{'id' : 'rateform'} }) }}
        {{ form_errors(rate_form) }}
        {{ form_end(rate_form) }}
    </div>
    (based on {{entity.rates}} votes)
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ entity.rating }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ entity.introduction }}</td>
            </tr>
        </tbody>
    </table>
            
    <ul id="chapters-navbar" class="nav nav-tabs">
        {% if entity.haschapters > 0%}
            {% for chapter in entity.chapters%}
            <li {% if loop.index == 1%} class="active" {% endif %}>
                <a data-toggle="tab" data-chapter="{{chapter.id}}" class="chapter-tab" href="#" > Chapter {{ loop.index }}</a>
            </li>
            {% endfor %}
        {% else %}    
            <li class="active" ><a data-toggle="tab" class="chapter-tab new" href="#">Chapter 1</a></li>
        {% endif %} 
    </ul>
    <div id="viewer"></div>
    
    
<script>
    $(document).ready(function(){
        {% if entity.haschapters > 0%}
            $('#viewer').load("{{ path('chapter_show', {'id' : entity.chapters[0].id}) }}");
        {% else %}
            $('#viewer').load("{{ path('chapter_show', {'campaign' : entity.id}) }}");
        {% endif %}
        
        $('.rating-well div').click(function(){
            var value = $(this).data('value');
            $.post("{{path('campaign_rate')}}", {'id': "{{entity.id}}",'stars':value})
                    .done(function(data){
                        setCookie('voted_campaign_{{entity.id}}',value,1000);
                    });
        });
        
        $('.chapter-tab').click(function(){
            var id = $(this).data('chapter');
            $.get( "{{path('chapter_show')}}", { id: id} )
                .done(function( data ) {
                    $('#viewer').html(data);
            }); 
        });
        
    });
</script>
{% endblock %}
